Flask==0.10.1
Flask-Assets==0.10
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
Werkzeug==0.9.6
argparse==1.2.1
formic==0.9beta8
itsdangerous==0.24
markdown2==2.2.1
webassets==0.10.1
wsgiref==0.1.2
