<div class="block-head">
    <table class="table">
        <tbody>
            <tr><td>Height:</td><td>{{ block.height }}</td></tr>
            <tr><td>Timestamp:</td><td>{{ block.datetime() | nice_date }}</td></tr>
            <tr><td>Hash:</td><td>{{ block.hash }}</td></tr>
            <tr><td>Previous Hash:</td><td><a href={{ url_for('block', hash=block.prevhash) }}>{{ block.prevhash }}</a></td></tr>
            <tr class="nbltns"><td>No of Bulletins:</td><td>{{ block.bulletin_collection | count }}</td></tr>
            <tr class="ntopics"><td>No of Unique Topics:</td><td>{{ block.bulletin_collection | topic_count }}</td></tr>
        </tbody>
    </table>
</div>
