<table class="table bulletin-meta">
    <tbody>
        {% if bltn.blkref %}
        <tr class="blk-ts"><td>Block Timestamp:</td><td>{{ bltn.blkref.ts | unix_nice_date }}</td></tr>
        {% endif %}
        <tr class="bltn-ts"><td>Reported Timestamp:</td><td>{{ bltn.timestamp | unix_nice_date }}</td></tr>
        <tr><td>Txid:</td><td class="t">{{ bltn.txid }}</td></tr>
        <tr>
            <td>Block:</td>
        {% if bltn.blkref %}
            <td><a class="t" href="{{ url_for('block', hash=bltn.blkref.hash) }}">{{ bltn.blkref.hash }}</a></td></tr>
        {% else %}
            <td style="color: maroon;">Unconfirmed</td> 
        {% endif %}
        <tr class="stored"><td>Bytes Stored:</td><td>{{ bltn | est_storage }} Bytes</td></tr>
        <tr class="burned"><td>Satoshi Burned:</td><td>{{ bltn | est_burn }}</td></tr>
        <tr class="version"><td>Version:</td><td>0.0.1</td></tr>
    </tbody>
</table>

