@import 'home';

.block-head {
    .meta-table();

    .table {
        tr.nbltns, 
        tr.ntopics {
            .hidden-xs();
        }
    }

    @media (max-width: @screen-xs-max) { 
        .t {
            font-size: 7pt;
        }
    }
}

.block-bltns {
    .make-sm-column(12);
    .table {
        .len,
        .topic {
            .hidden-xs();
        }
        td.txid {
            word-wrap: break-word;
            overflow: hidden;
        }

        .len {
            text-align: center;
        }
    }
}

.block-table {
    margin-top: 20px;

    @media (max-width: @screen-xs-max) { 
        margin-right: (@gutter / -2); 
        margin-left:  (@gutter / -2); 
    }

    .timestamp,
    .hash,
    .ntopics {
        .hidden-xs();
    }

    .ntopics,
    .nbltns {
        text-align: center;
    }
    tbody tr:hover {
        background-color: #eee;
        cursor: pointer; cursor: hand;
    }
}

.block-date-browser {
    .make-row();
    margin-top: 25px;
    text-align: center;

    a {
        padding: 3px 10px 3px 10px;
        .small-gray-font();
    }
    a.active {
        border-radius: 3px;
        background-color: #DDD;
    }
}


.blocks-head {
    .make-row();
    h3.head {
        .make-xs-column(1, 0);
    }
    div.sort {
        .make-xs-column(6);
        background-color: white;
        margin-top: 26px;
        a {
            .small-gray-font();
        }
        a.expand-btn {
            margin-left: 20px;
            span {
                margin-left: 10px;
                color: @gray;
            }
        }
   } 
    h3.note {
        .make-xs-column(5);
    }
}
