@import "../lib/bootstrap/less/bootstrap";

@gray: #999;
@icon-font-path: '../lib/bootstrap/fonts/';
@gutter: 30px;

.text-font() {
    font-size: 16px;
}

.sub-sub-head-font() {
    font-size: 18px;
    font-weight: bold;
}


@media (min-width: 1200px) {
    .container {
        width: 970px;
        background-color: gray;
    }
}

body {
    margin-left:  (@gutter / 2) !important;
    margin-right: (@gutter / 2) !important;
}

.align() {
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);
}


div.top-bar {
    .title-line {
        .make-row();
        .wrap {
            border-bottom: 2px black solid;
            margin-bottom: 7.5px;
        }
        h1 {
            a {
                color: black;
            }
            display: inline-block;
            text-decoration: None;
            font-size: 30pt;
            font-weight: 700;
        }
        p {
            display: inline;
            margin-left: 30px;
            padding-bottom: 5px;
            font-size: 14pt;
            font-style: italic;
            font-family: georgia;
            // hide on mobile devices
            .hidden-xs();
        }
    }
    // lower bar
    .navi-bar {
        .make-row();
        .navi-items {
            a {
                color: #444;
                margin-right: 20px;
                .text-font();
                font-weight: bold;
            }
            a.no-mobile {
                .hidden-xs();
            }
        }
    }
    margin-bottom: 10px;
}

.sub-head {
    .align();
    border-bottom: 1px gray dotted;
    small {
        .hidden-xs();
        float: right;
        margin-top: 10px;
    }
}


p {
    .text-font();
}

h4 {
    .sub-sub-head-font();
}


.list {
   margin-top: 20px;
   & > div {
       margin-bottom: 15px;
       .text-font();
    }
}

