{% extends 'base.html' %}


{% block content %}
<div class="sub-head">
    <h3>About<small>Some info for you!</small</h3>
</div>
<br>
<p><b style="color: orangered">WARNING!</b> 
This is experimental software. Do not rely on it for anything that may endanger you or anyone around you.
</p>
<p>
This is the public facing website for a node in the Ombuds peer-to-peer network. 
More information is available at the project's <a href="http://ombuds.soapbox.systems">website</a>.
We have answered some questions below.
</p>

<h3>Definitions</h3>
<p><strong>Block chain</strong> The public ledger of every bitcoin transaction.</p>
<p><strong>Bulletin</strong> A message stored in the Bitcoin blockchain.</p>
<p><strong>Topic</strong> A metadata tag used to group similar bulletins together.</p>
<p><strong>Author</strong> A bitcoin address from which bulletins originate.</p>
<p><strong>Endorsement</strong> A statement indicating approval or support of a bulletin.</p>
<br>

<div id="faqs" class="sub-head">
    <h3>FAQs<small>Because we know this is confusing.</small></h3>
</div>
<h3>What are you trying to do again?</h3>
<p>Demonstrate another usecase for Bitcoin and generate a better archive of public speech.</p>
<h3>Why?</h3>
<p>Bitcoin has been trumpted as a tool for finacial freedom. We want to use it to empower the fourth estate.</p>
<h3>Isn't it expensive and rude to store data in the blockchain?</h3>
<p>Yes and yes. All told it will be about 12 cents to store a single tweet in the blockchain. But there are a couple methods to reduce that cost further.</p>
<h3>Half of your website is totally broken. What am I even looking at?</h3>
<p>We are aware of how broken it all is and we are working on it. Have an ice pop.</p>
{% endblock content %}
