{% extends 'base.html' %}


{% block content %}
<div class="sub-head">
    <h3>About<small>Some info for you!</small</h3>
</div>
<h3 class >The Big Picture</h3>
<p>
ahimsa enables any holder of Bitcoin to publish immutable statements within Bitcoin's block chain. These statements, which we call bulletins, are encoded within Bitcoin transactions which can be sent from a smartphone or a computer. These statements can be viewed from any computer that can connect to the Bitcoin network.
</p>

<p>
If a Bitcoin user can get a transcation into the block chain it is effectively permanent. ahimsa is based off of this principle. Any software that understands ahimsa’s messaging format and has a copy of the blockchain can then decode these bulletins and display them for the public to view.
</p>

<p>
To censor a user's bulletins, an attacker must either block access to Bitcoin completely or generate blocks faster than the entire network. Since most small nations do not have the computing infrastruture to mount a <a href="">51% attack</a> against the Bitcoin network, ahimsa’s method for storing bulletins is robust.
</p>

<p>
In essence, we have repurposed Bitcoin as an immutable public record of free speech and we have built the tools that let anyone publish, view, and interact with these records.
This system does not depend on the honesty or availability of any single website, service or hard drive. Instead, ahimsa uses the global distribution of the blockchain to ensure the availablilty of these records.
</p>
<h3>Definitions</h3>
<p><strong>Bulletin</strong> A message stored in the Bitcoin blockchain.</p>
<p><strong>Blockchain</strong> The public ledger of every bitcoin transaction.</p>
<p><strong>Topic</strong> A metadata tag used to group similar bulletins together.</p>
<p><strong>Author</strong> A bitcoin address from which bulletins originate.</p>
<br>

<div id="faqs" class="sub-head">
    <h3>FAQs<small>Because we know this is confusing.</small></h3>
</div>
<h3>What are you trying to do again?</h3>
<p>Demonstrate another usecase for Bitcoin and generate a better archive of public speech.</p>
<h3>Why?</h3>
<p>Bitcoin has been trumpted as a tool for finacial freedom. We want to use it to empower the fourth estate.</p>
<h3>Isn't it expensive and rude to store data in the blockchain?</h3>
<p>Yes and yes. All told it will be about 12 cents to store a single tweet in the blockchain. But there are a couple methods to reduce that cost further.</p>
<h3>Half of your website is totally broken. What am I even looking at?</h3>
<p>We are aware of how broken it all is and we are working on it. Have an ice pop</p>
{% endblock content %}
