<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

    </head>
    <body>
        <div class="container-fluid">
            <div class="top-bar">
                <div class="title-line"><div class="wrap">
                    <h1><a href="/">a<span>·</span>him<span>·</span>sa</a></h1><p>Spread The Truth</p>
                </div></div>
                <div class="nav-bar">
                    <div class="nav-items">
                        <a href="{{ url_for('authors') }}">Authors</a>
                        <a href="{{ url_for('topics') }}">Topics</a>
                        <a href="{{ url_for('blocks') }}">Blocks</a>
                        <a class="no-mobile" href="{{ url_for('create') }}">Create</a>
                        <a class="no-mobile" href="{{ url_for('about') }}">About</a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="inner">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

        {% assets "js_lib" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "js" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
