{% extends 'base.html' %}


{% block content %}
<div class="sub-head">
    <h3>Blocks <small>The last 50 blocks</small></h3>
</div>
<table class="block-table table">
    <thead>
        <tr>
            <th class="height">Height</th>
            <th class="hash">Hash</th>
            <th class="timestamp">Timestamp</th>
            <th class="ntopics sm-num" >Num Topics</th>
            <th class="nbltns sm-num" >Num Bulletins</th>
        </tr>
    </thead>
    <tbody>
        {% for blk in blocks %}
        <tr onclick="document.location='{{ url_for('block', hash=blk.hash) }}'">
            <td class="height"><b>{{ blk.height }}</b></td>
            <td class="hash">
                <a>{{ blk.hash | truncate(25, true, '...') }}</a>
            </td>
            <td class="timestamp">{{ blk.datetime() | nice_date }}</td>
            <td class="ntopics sm-num">{{ blk.bulletin_collection | topic_count }}</td>
            <td class="nbltns sm-num">{{ blk.bulletin_collection | count  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
