{% extends 'base.html' %}

{% from 'common.html' import render_row_bltn %} 

{% block content %}

<div class="sub-head">
    <h3>Block #{{ block.height }}<small>{{ block.hash }}</small></h3>
</div>


{% with block = block %}
    {% include 'partials/block-head.html' %}
{% endwith %}

<div class="sub-sub-head">
    <h4>Bulletins in Block</h4>
</div>


{% if block.bulletin_collection|count > 0 %}
<div class="row">
    <div class="block-bltns">
        <table class="table">
            <thead>
                <tr>
                    <th class="author">Author</th>
                    <th class="topic">Topic</th>
                    <th class="txid">Txid</th>
                    <th class="len">Message Len</th>
                </tr>
            </thead>
            <tbody>
            {% for bltn in block.bulletin_collection %}
                {{ render_row_bltn(bltn) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="empty-list">
    <h4>There are no bulletins in this block.</h4>
</div>
{% endif %}


{% endblock content %}
