{% extends 'base.html' %}


{% block content %}
<div class="sub-head">
    <h3>Blocks <small>The last 50 blocks</small></h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Height</th>
            <th>Hash</th>
            <th>Date Est</th>
            <th class="sm-num" >Num Topics</th>
            <th class="sm-num" >Num Bulletins</th>
        </tr>
    </thead>
    <tbody>
        {% for blk in blocks %}
        <tr>
            <td>{{ blk.height }}</td>
            <td><a href="{{ url_for('block', hash=blk.hash) }}">
                    {{ blk.hash | truncate(15, true, '...') }}
            </a></td>
            <td>2014 Feb 5</td>
            <td class="sm-num">{{ blk.bulletin_collection | topic_count }}</td>
            <td class="sm-num">{{ blk.bulletin_collection | count  }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock content %}
