{% extends 'base.html' %}

{% from 'common.html' import render_bulletin, render_endorsement %}

{% block content %}

<div class="sub-head">
    <h3>Bulletin <small>{{ bltn.txid }}</small></h3>
</div>
{% with bltn=bltn %}
    {% include 'partials/bltn-head.html' %}
{% endwith %}

{{ render_bulletin(bltn, fullmsg=true) }}

{% if bltn.endos | count > 0 %}
<div class="sub-sub-head">
Endorsements
</div>
<div class="list">
{% for endo in bltn.endos %}
  {{ render_endorsement(endo) }}
{% endfor %}
</div>
{% endif %}

{% endblock %}
