{% macro render_author(address) %}
<div class="addr">
    <a href="{{ url_for('author', address=address) }}">{{ address[1:9] }}</a>
</div>
{% endmacro %}

{% macro render_bulletin(bltn, fullmsg) %}
<div class="bltn"> 
        <div class="head">
            <a href="{{ url_for('topic', topurl=bltn.topic) }}"><h4 class="topic">{{ bltn.topic }}</h4></a>
        </div>
        <div class="below-head">
            {{ render_author(bltn.author) }}
            <div class="info">
                {% if not bltn.block %}<p class="hid unconfd">Unconfirmed</p>
                {% else %}<p class="hid"><a href="{{ url_for('block', hash=bltn.block.hash) }}">{{ bltn.block.height }}</p>
                {% endif %}
                <a class="" href={{ url_for('bulletin', txid=bltn.txid) }}>
                    <i class="glyphicon glyphicon-log-out"></i>
                </a>
                <a class="hid" href="https://www.biteasy.com/testnet/transactions/{{ bltn.txid }}">
                    <i class="glyphicon glyphicon-new-window"></i>
                </a>
            </div>
        </div>
        <div class="body">
            {% if bltn.message != "" %}
                {% if fullmsg %}
                    {{ render_markdown(bltn.message) | safe }}
                {% else %}
                <p>{{ bltn.message | truncate(500) }}</p>
                {% endif %}
            {% else %}
                <p class="empty">--- No Content ---</p>
            {% endif %}
        </div>
</div>
{% endmacro %}

{% macro render_row_bltn(bltn) %}
<tr>
    <td class="author">{{ render_author(bltn.author) }}</td>
    <td class="topic"><a href="{{ url_for("topic", topurl=bltn.topic) }}">{{ bltn.topic | truncate(30, true) }}</a></td>
    <td class="txid"><a class="t" href="{{ url_for("bulletin", txid=bltn.txid) }}">{{ bltn.txid | truncate(30, true) }}</a></td>
    <td class="len">{{ bltn | nice_size_est }}</td>
</tr>
{% endmacro %}
