{% macro render_author(address) %}
<div class="addr">
  <svg width="15" height="15">
  <rect x="0" y="0" rx="2" ry="2" width="15" height="15" fill="{{ address | rgb_color }}"></rect>
  </svg>
  <a href="{{ url_for('author', address=address) }}">{{ address[1:9] }}</a>
</div>
{% endmacro %}

{% macro render_bulletin(bltn, fullmsg) %}
<div class="pinnedBulletin card">
  <div class="topline">
    <div class="authorbox">
      {{ render_author(bltn.author) }}
    </div> 
    <div class="timestamp">{{ bltn.timestamp | unix_nice_date }}</div>
    <div class="interact">
      <a class="endo-cnt">{{ render_endo_circ(bltn.numEndos) }}</a>
      <a href="{{ url_for("bulletin", txid=bltn.txid) }}"><img class="confs" src="{{ bltn.blkref | conf_img }}"/></a>
    </div>
  </div>
  <div class="norm-wrap" ng-hide="bltn.detail">
    <div class="msg" ng-hide="bltn.renderMd">
      {{ bltn.msg | link_tags }} 
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_tag(tag) %}
<a class="tag-wrap" href="{{ url_for("tag", tagurl=tag.val[1:]) }}">
  <div class="tag card">
    <h4 class="val">{{ tag.val}}</h4>
    <div class="bottom-line">
      <span class="score">{{ tag.score }} Points</span>
      <span class="num-date">Created on {{ tag.ts | unix_nice_date(just_day=True) }} with {{ tag.num }} {{ tag.num | plural('Post', 'Posts') }}</span>
    </div>
</div>
</a>
{% endmacro %}

{% macro render_row_bltn(bltn) %}
<tr>
  <td class="author">{{ render_author(bltn.author) }}</td>
  <td class="topic">{{ bltn.msg | tag_list | e }}</td>
  <td class="txid"><a class="t" href="{{ url_for("bulletin", txid=bltn.txid) }}">{{ bltn.txid | truncate(30, true) }}</a></td>
  <td class="len">{{ bltn.numEndos }}</td>
  <td class="len">{{ bltn | nice_size_est }}</td>
</tr>
{% endmacro %}

{% macro render_endorsement(endo) %}
<div class="endo card">
    <div class="authorbox">
      {{ render_author(endo.author) }}
    </div> 
    <svg class="check" width="16" height="16">
      <circle cx="8" cy="8" r="6" fill="rgb(188, 227, 163)"></circle>
    </svg>
    <p class="ts">
      Endorsed on {{ endo.timestamp | unix_nice_date }}
    </p>
</div>
{% endmacro %}

{% macro render_endo_circ(num) %}
<svg class="endo-circ" width=25 height=25>
  <circle cx="13" cy="13" r="9" stroke="{{ num | endo_colors }}"></circle>
  <text x=13 y=18 fill="{{ num | endo_colors }}">{{ num }}</text>
</svg>
{% endmacro %}
