{% extends 'base.html' %}
{% from 'common.html' import render_bulletin %}

{% block content %}
<div class="sub-head">
    <h3>Recently Seen<small>These are Bulletins that have not been mined.</small></h3>
</div>
<div class="list">
    {% for bltn in unconfd_bltns %}
    <div class="item">
        {{ render_bulletin(bltn) }}
    </div>
    {% else %}
    <div class="empty">
        <h4>There are no unconfirmed bulletins.</h4>
    </div>
    {% endfor %}
</div>

<div class="sub-head">
    <h3>Recently Confirmed<small>These are Bulletins that were just mined.</small></h3>
</div>
<div class="list">
    {% for bltn in confd_bltns %}
    <div class="item">
        {{ render_bulletin(bltn) }}
    </div>
    {% endfor %}
</div>
{% endblock content %}
