{% extends 'base.html' %}
{% from 'common.html' import render_bulletin %}

{% block content %}
<div class="sub-head">
    <h3>Recently Seen <small>These are Bulletins that have not been mined.</small></h3>
</div>
<div class="bltn-list list">
    {{ render_bulletin(confd_bltns[0]) }}
</div>

<div class="sub-head">
    <h3>Recently Confirmed<small>These are Bulletins that were just mined.</small></h3>
</div>
<div class="bltn-list list">
    {% for bltn in confd_bltns %}
        {{ render_bulletin(bltn) }}
    {% endfor %}
</div>
{% endblock content %}
