{% extends 'base.html' %}
{% from 'common.html' import render_bulletin, render_tag %}

{% block content %}
<div class="sub-head for-tags">
    <h3>Popular Tags<small>It's a formula, not a contest.</small></h3>
</div>
<div>
  {% for tag in top_tags %}
  {{ render_tag(tag) }}
  {% endfor %}
</div>
<div class="sub-head">
  <h3>Most Endorsed Bulletins<small>Anyone can endorse bulletins.</small></h3>
</div>
<div class="bltn-list list">
  {% for bltn in most_endo | sort(True, attribute="timestamp") %}
  {{ render_bulletin(bltn) }}
  {% endfor %}
</div>

<div class="sub-head">
    <a id="new"></a>
    <h3>Recently Confirmed<small>The newest bulletins in the record.</small></h3>
</div>
<div class="bltn-list list">
    {% for bltn in new.bulletins | sort(True, attribute="timestamp") %}
    {{ render_bulletin(bltn) }}
    {% endfor %}
</div>
<p><a href="{{ url_for('all_bltns') }}">See More »</a></p>
{% endblock content %}
